main {
  background-color: #666756;
}

h1 {
  color: #666756;
}

h4 {
  color: #BCBBBB;
}

h5 {
  color: #666756;
}

a {
  color: #F8981C;
}

.header-img {
  margin-top: 25px;
}

.responsive-img {
  max-width: 50%;
}
